<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='homepage.css') }}">
    <title>Welcome to my homepage</title>
</head>
<body>
    <div>
        <h1>This is my homepage</h1>
        <p>Welcome!!</p>
        <p>This little project was made for the Automation track <br>
            to test skills and knowledge about flask and mongodb</p>
        <p>Many things need to be improved and thought with more time!! 😃</p>
        <p>Made by: João Mesquita</p>

    </div>
</body>
</html>